.content-container {
  padding: 1rem;
}

.content-container p {
  margin: 0px;
}

.title-container p {
}

.content-container input {
}

.month-input {
  width: 3rem;
  text-align: center;
}

.year-input {
  width: 4rem;
  text-align: center;
}

.profile-card {
  align-items: center;
  display: flex;
  height: 30px;
}

.profile-card input {
  width: 100%;
}

.profile-card i {
  margin-right: 1rem;
  width: 20px;
}

.content-text-container {
  margin-right: 1rem;
}

.profile-card-name {
  width: 100%;
}

.profile-card-name input {
  width: 50%;
}

.term-conteiner {
  display: flex;
}

.content-item-conteiner {
  padding: 1rem;
  border: 1px solid lightgray;
  /* background-color: white; */
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}