.content-container {
  background-color: lightgray;
  padding: 1rem;
}

.content-container p {
  margin: 0px;
}

.title-container p {
}

.content-container input {
  /* width: 100%; */
}

.month-input {
  width: 2rem;
  text-align: center;
}

.year-input {
  width: 4rem;
  text-align: center;
}