.content-container {
  padding: 1rem;
}

.content-container p {
  margin: 0px;
}

.title-container p {
}

.input-style {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.month-input {
  width: 3rem;
  text-align: center;
}

.year-input {
  width: 4rem;
  text-align: center;
}

.profile-card {
  align-items: center;
  display: flex;
  height: 30px;
}

.profile-headline-container {
  margin-left: 40px;
}

.edit-profile-card {
  align-items: center;
  display: flex;
  height: 30px;
  margin-bottom: 1rem;
}

.edit-profile-card-textarea {
  margin-bottom: 2rem;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 49%;
}

.edit-profile-card input, textarea {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.profile-card i {
  margin-right: 20px;
  width: 20px;
}

.edit-profile-card i {
  margin-right: 20px;
  width: 20px;
}

.content-text-container {
  margin-right: 1rem;
}

.headline-card {
  margin-left: 40px;
}

.edit-profile-card-name {
  display: flex;
  justify-content: space-between;
}


.term-container {
  display: flex;
}

.term-icon {
  margin: 0 1rem;
}

.content-item-container h5 {
  /* font-size: 1rem; */
  text-decoration-line: underline;
}

.content-item-container h6 {
  font-size: 1.2rem;
  font-weight: 900;
}

.content-item-container input, textarea {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.content-item-container textarea {
  resize: none;
}

.edit-content-item-conteiner {
  margin-bottom: 1rem;
}

.edit-list-item-word input, .list-item-language, .list-item-level {
  width: 10rem;
  margin-right: 1rem;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
}

.list-item-word {
  display: flex;
  width: 50%;
}

.edit-list-item-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.edit-profile-btn, .save-profile-btn {
  margin-top: 2rem;
}

.edit-profile-btn button,
.save-profile-btn button {
  color: white;
  margin: 0 45%;
  width: 5rem;
  background-color: rgb(33, 107, 173);
  border-radius: 5px;
}

.edit-profile-btn button:hover,
.save-profile-btn button:hover {
  color: black;
  background-color: rgb(227, 227, 227);
}

.using-btn,
.ed-btn,
.del-btn,
.save-btn {
  margin-right: 1rem;
  color: white;
  background-color: rgb(33, 107, 173);
  border-radius: 5px;
  width: 5rem;
}

.using-btn:hover,
.ed-btn:hover,
.del-btn:hover,
.save-btn:hover {
  color: black;
  background-color: rgb(227, 227, 227);
}

.add-profile-btn button {
  color: white;
  margin: 0 45%;
  width: 5rem;
  background-color: rgb(33, 107, 173);
  border-radius: 5px;
}

.add-profile-btn button:hover {
  color: black;
  background-color: rgb(227, 227, 227);
}

.content-item-container {
  border: 1px solid lightgray;
  max-width: 90vw;
  margin: 1rem 1rem;
  padding: 1.5rem 2rem;
  -webkit-box-shadow: 4px 4px 26px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 26px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 26px 0px rgba(0,0,0,0.75);
}

.content-btns {
  display: flex;
  justify-content: flex-end;
}

.work-container {
  margin-bottom: 1.5rem;
}

.work-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.work-company {
  font-style: italic;
}

.work-text {
  font-size: 0.8rem;
}