.cv-component-container {
  border: 1px solid black;
  width: 50vw;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.cv-view {
  width: 21cm;
  height: 29.7cm;
  border: 1px solid black;
  background-color: white;
  margin-top: 10px;
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

.cv-title-text {
  margin-left: 2rem;
}

.cv-title-article {
  padding: 1.5rem 2rem 0 2rem;
  display: flex;
}

.cv-title-article img {
  height: 100px;
}

.cv-profile-article {
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgb(227, 227, 227);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cv-profile-article i {
  margin-right: 1.3rem;
  width: 5px;
}

.cv-profile-card {
  width: 50%;
}

.cv-skill-card, .cv-interest-card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.text-skill {
  color: white;
  margin: 2px 3px;
  padding: 1px 5px;
  background-color: rgb(33, 107, 173);
  border-radius: 0.5rem;
}

.text-interest {
  color: black;
  margin: 2px 3px;
  padding: 1px 5px;
  border-radius: 0.5rem;
  background-color: rgb(227, 227, 227);
}

.cv-body-title {
  font-size: 1.1rem;
  color: #00a2ff;
}

.cv-text-view {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.5rem 2rem;
  border-right-style: solid;
  border-right-color: rgb(227, 227, 227);
}

.hard-container, .soft-container, .languages-container, .interests-container {
  margin-bottom: 1.5rem;
}

.single-language {
  margin-bottom: 1rem;
}
.p-language {
  font-style: italic;
}

.print-btn {
  background-color: rgb(33, 107, 173);
  position: fixed;
  border-radius: 10px;
  height: 4rem;
  width: 5rem;
  right: 52%;
  top: 7rem;
  z-index: 3;
  -webkit-box-shadow: 4px 4px 26px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 26px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 26px 0px rgba(0,0,0,0.75);
}

.print-btn p {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
}

.secondary {
  border-right-style: solid;
  border-width: 1px;
  width: 300px;
  padding-right: 1rem;
}

.primary {
  width: 100%;
  padding-left: 1rem;
}
