.cv-component-container {
  border: 1px solid black;
  width: 50vw;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.cv-view {
  width: 595px;
  height: 842px;
  border: 1px solid black;
  background-color: white;
  margin-top: 10px
}