.edit-component-container {
  border: 1px solid black;
  width: 50vw;
  background-color: #F4F4F4;
}

.edit-content-container {
  margin: 1rem;
  overflow: scroll;
  height: 90%;
}

.pdf-change-btn {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}