.main-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black;
  padding: 10px; */
  height: 5vh;
  float: left;
  width: 100vw;
  position: fixed;
}

.title h1 {
  margin: 0;
}

.auth-link a {
  margin: 10px;
}

.username {
  display: flex;
}